asdf.hal
autosave.halscope
blinkie.hal
config.hal
constant.c
constant.icomp
constant.so
core
debounce.c
debounce.icomp
debounce.so
funkyline.c
funkyline.icomp
funkyline.so
instcomp.bak
Makefile
Makefile.bak
multiswitch.icomp
piphat.hal
pp_dout.c
pp_dout.exported
pp_dout.o
pp_dout.so
pp_dout.tmp
pp_dout.ver
pp_gpio.c
pp_gpio.so
pp_instance.c
pp_instance.exported
pp_instance.icomp
pp_instance.o
pp_instance.so
pp_instance.tmp
pp_instance.ver
pp_stepgen.c
pp_stepgen.so
test_multi.icomp
